.container-960{
    max-width: 960px;
    margin: 0 auto;

    @include media-breakpoint-down(sm){
        padding-left: 8px;
        padding-right: 8px;
    }
}
.booking-block-mainwrp{
    margin-top: -150px;
    position: relative;
    z-index: 3;

    @include media-breakpoint-down(md){
        margin-top: -220px;
    }
}
.main-form-wrapper{
    margin: 40px auto 30px;
    // background-color:rgba($grey-light, 0.25) ;
    border-radius: 40px;
    position: relative;

    background: rgba(185, 182, 182, 0.31);
    // border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    border: 1px solid rgba(255, 255, 255, 0.54);
    // overflow: hidden;

    .form-row-wrp{
        padding: 40px 50px 60px;
        @include media-breakpoint-down(sm){
            padding: 60px 2px;

        }

        .title-wrp{
            h1{
                font-size: 32px;
                color: $white;
                font-family: $PlayfairFont;
                font-weight: 600;
                margin-bottom: 3.25rem;
                @include media-breakpoint-down(sm){
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }
        select{
            &.from-field,
            &.to-field{
                border: 1px solid $grey-light ;
                padding: 4px 140px 6px 20px;
                border-radius: 0 10px 10px 0;
                -webkit-appearance:none ;
                appearance:none ;
                position: relative;
                @include media-breakpoint-down(sm){
                    padding: 4px 100px 6px 20px;
                    border-radius:0 0 10px 10px;


                }
                i{
                    position: absolute;
                }
                &:focus{
                    outline-color: transparent;
                    outline: 0;
                }
                option{


                    &:not(:first-of-type) {
                        // opacity: 0.5;
                        // color: $black;
                    }
                }

            }
        }

        .contact-detailform{
            section{
                @include media-breakpoint-down(sm){
                    padding-left: 8px;
                    padding-right: 8px;
                }
                .row-wrap{
                    > div{
                        padding: 0;
                        &:not(.additonal-info-fields-holder){
                            margin-bottom: 10px;
                        }
                        &.more-info-wrp{
                            // margin-top: 10px;
                        }
                        // &.phone-number-wrp,
                        &.full-name-wrp,
                        &.email-address-wrp{
                            @include media-breakpoint-up(lg){
                                padding-right: 10px;
                            }
                        }
                        &.additional-info{
                            // padding-left: 24px;
                            .row-wrap{
                                .additional-checkbox-wrp{
                                    &.tool-tip-block{
                                        span.message{
                                            min-width: 300px;
                                        }
                                    }
                                    // &:not(:first-child){
                                        padding-left: 10px;
                                    // }
                                    .form-check{
                                        display: flex;
                                        align-items: center;
                                        padding-left: 0;
                                        span{
                                            position: relative;
                                            width: 32px;
                                            height: 16px;
                                            margin-right: 8px;
                                            // display: flex;
                                            input[type=checkbox]{
                                                // width: 100%;
                                                // height: 100%;
                                                opacity: 0;

                                                &:checked ~ label.custom-checkbox{
                                                    background-color: rgba($grey-light, 0.9);
                                                    transition: all 0.25s ease-in-out;
                                                    &::after{
                                                        left: 50%;
                                                        background-color: $accent;
                                                        transition: all 0.25s ease-in-out;
                                                        box-shadow: 0 0 8px 0 rgba($accent-dark  ,0.5);
                                                    }
                                                }
                                            }

                                            label.custom-checkbox{
                                                position: relative;
                                                width: 100%;
                                                height: 100%;
                                                border-radius: 16px;
                                                display: block;
                                                background-color: rgba($grey-light, 0.5);
                                                transition: all 0.25s ease-in-out;
                                                &::after{
                                                    content: '';
                                                    width: 20px;
                                                    height: 20px;
                                                    position: absolute;
                                                    left: -10%;
                                                    background-color: $white;
                                                    border-radius: 10px;
                                                    top: -2px;
                                                    transition: all 0.25s ease-in-out;
                                                    box-shadow: 0 0 8px 0 rgba($accent-dark  ,0);
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                        }
                        &.more-info-wrp{
                            > .row-wrap{
                                > div{
                                    padding: 0;
                                    @include media-breakpoint-up(lg){
                                        &:not(.company-input-wrp){
                                            padding-right: 10px;
                                        }
                                    }
                                    @include media-breakpoint-between(sm, lg){
                                        padding-right: 10px;
                                        &.bags-select-wrp,
                                        &.company-input-wrp{
                                            padding-right: 0px;
                                        }
                                    }
                                    &.select-box{
                                        >div{
                                            &.select-wrapper{
                                                &.ff-seat-select,
                                                &.rf-seat-select,
                                                &.boost-seat-select{
                                                    &::after{
                                                        transform: translateY(0%);

                                                    }
                                                }
                                                position: relative;
                                                &::after{
                                                    content: '\F282';
                                                    font-family:  $bootstrapIcons;
                                                    position: absolute;
                                                    right: 16px;
                                                    top: 50%;
                                                    transform: translateY(-40%);
                                                }
                                                select{
                                                    -webkit-appearance:none ;
                                                    appearance:none ;
                                                }
                                            }

                                        }
                                    }
                                    > div{
                                        select,input{
                                            // height: 48px;
                                            border-radius: 10px;
                                            padding: 12px 19px;
                                            border: 1px solid $grey-light;
                                            &:focus{
                                                outline: 0;
                                                box-shadow: unset;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
                .form-control {
                    display: block;
                    width: 100%;
                    height: auto;
                    padding: 12px 19px;
                    font-size: 1rem;
                    line-height: 1.4;
                    color: $black;
                    background-color: $white;
                    border: 1px solid $grey-light;
                    border-radius: 10px;
                    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

                }
                .form-control:focus {
                    color: $black;
                    background-color: $white;
                    border-color: $grey-light;
                    outline: 0;
                    box-shadow:unset;
                }
                .intl-tel-input,
                .iti{
                width: 100%;
                }

            }
        }

    }

    .to-field-wrapper,
    .from-field-wrapper{
        width: 100%;
        i.bi-chevron-down{
            display: none;
        }
        &.select-active{
            position: relative;
            i.bi-chevron-down{
                display: block;
                position: absolute;
                top: 50%;
                z-index: 1;
                right: 110px;
                transform: translate(-50%, -50%);
                @include media-breakpoint-down(sm){
                    right: 76px;

                }
            }
            // & + .btn-add-destination{
            //     right: 24px;
            // }
        }

    }
}
.vehicle-slider-stage{
    padding: 40px 30px;
    // background-color: rgba($black, 0.25);
    @include media-breakpoint-down(md){
        padding: 40px 00px;

    }
    .swiper-slide.swiper-slide-duplicate.swiper-slide-visible.swiper-slide-prev,
    .swiper-slide.swiper-slide-visible.swiper-slide-active,
    .swiper-slide.swiper-slide-visible.swiper-slide-next,
    .swiper-slide.swiper-slide-duplicate.swiper-slide-visible,
    .swiper-slide.swiper-slide-visible{
        transition: 1s ;
        opacity: 1;
    }
    .swiper-slide,
    .swiper-slide.swiper-slide-duplicate,
    .swiper-slide.swiper-slide-duplicate-prev,
    .swiper-slide.swiper-slide-duplicate.swiper-slide-duplicate-next,
    .swiper-slide.swiper-slide-duplicate.swiper-slide-duplicate-active{
        transition: 1s ;
        opacity:0;
    }
}
.circle-vehicle-slider{
.holderCircle{
    .dotCircle{
        .itemDot{
            background-color: $white;
            &.active{
                background: rgb(254,229,124);
                background: radial-gradient(circle, rgba(254,229,124,1) 0%, rgba(224,180,0,1) 100%);
                &::after{
                    border-color: $primary-dark;
                }
            }
            .swiper-slide{
                display: flex;
                justify-content: center;
                align-items: center;
                .content{
                    .img-wrapper{
                        margin: 0px 0 0px;
                            img {
                                display: block;
                                width: 80px;
                                margin: 0 auto;
                            }
                    }

                }

            }

        }

    }
    .contentCircle{
        box-shadow: 0px 0px 40px 1px $black;
        .CirItem{
            // background: rgba($grey-light, 0.25);
            background: radial-gradient(circle, rgba($grey-light,1) 0%, rgba($black  ,1) 100%);
            &.active{
                background: radial-gradient(circle, rgba($accent-dark, 1) 0%, rgba($black  ,1) 100%);
                &.active-vehicle{
                    background: radial-gradient(circle, rgba($accent-dark, 1) 0%, rgba($black  ,1) 100%);

                }

            }
            .swiper-slide{
                display: flex;
                justify-content: center;
                align-items: center;
                .content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .vehicle-selector{
                        margin-top: 4px;
                        margin-bottom: 4px;
                        height: 25px;
                        position: relative;
                        .radio-wrp{
                            position: absolute;
                            height: 28px;
                            left: 10px;
                            opacity: 0;
                            input[type="radio"]{
                                opacity: 0;
                                position: absolute;
                                z-index: 50;
                                width: 20px;
                                height: 20px;
                                left: -6px;
                            }
                            input[type="radio"]:checked ~ label{
                                background-color: $dark;
                                border: 2px solid $dark;
                                &:after{
                                    content: '\F26E';
                                    color: $primary;
                                    font-family: $bootstrapIcons;
                                    position: absolute;
                                    font-size: 32px;
                                    top: -120px;
                                    left: -6px;
                                    height: 20px;
                                    width: 20px;

                                }
                            }
                            label{
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                border-radius: 12px;
                                background-color: rgba($grey-light, 0.5);
                                border: 2px solid $grey-light;
                                left: -6px;
                                top: 5px;
                                cursor: pointer;
                            }
                        }
                        .title{
                            margin-left: 0;
                            @include for-mobile-down-600{
                                h5{
                                    font-size: 16px;
                                }
                            }
                        }

                    }
                    .img-wrapper{
                        margin: 8px 0 4px;
                            img {
                                display: block;
                                width: 180px;
                                margin: 0 auto;
                                @include media-breakpoint-down(sm){
                                    width: 160px;

                                }
                            }
                    }
                    .text-block{
                    text-align: center;
                    margin: 10px 0;
                    padding-top: 10px;
                    border-top: 1px solid $accent;
                    display: flex;
                    justify-content: space-evenly;
                    height: 24px;
                    > div{
                        display: flex;
                        line-height: 0;
                        align-items: center;
                        margin: 0 10px;
                    }
                    i{
                        font-size: 17px;
                        margin: 0 4px;
                    }
                    span{
                        font-size: 18px;
                        font-weight: 600;
                    }
                    }
                }

            }
        }
    }

}


}
.date-time-picker {
    margin-top: 20px;
    // margin-bottom: -30px;



    .inputs-wrapper{
        display: flex;
        justify-content: flex-start;
        @include for-mobile-down-450{
            flex-direction: column;
        }
        input{
            // margin: 0 8px;
            width: 100%;
            height: 40px;
            padding-left: 15px;
            border: 1px solid $grey-light;
            border-radius: 10px;
            box-shadow: 0 4px 16px 0 rgb($dark, 0.25);
            &:focus,
            &:focus-visible,
            &:active{
                border: 1px solid $grey-light;
                outline: unset;
            }
        }
        .dateTime-picker{
            position: relative;
            padding-left: 0;
            max-width: 240px;
            @include media-breakpoint-down(sm){
                max-width: 200px;
                
            }
            @include for-mobile-down-450{
                max-width: 100%;
                width: 100%;
            }
            &.time-picker{
                @include media-breakpoint-down(lg){
                    
                    @include for-mobile-up-450{
                        padding-left: 16px;
                        
                        }
                    }
                    .dateTime-picker{
                        // width: 100%;
                        
                        label{
                            right: 17px;
                            @include media-breakpoint-down(lg){
                                right: 1px;
                            }
                    }
                }
            }

            &:first-child{
                padding-right: 16px;
                // flex-grow: 1;
                @include media-breakpoint-down(lg){
                    padding-right: 0px;
                    margin-bottom: 16px;

                }
                label{
                    right: 17px;
                    @include media-breakpoint-down(lg){
                        right: 1px;
                    }
                }
            }
            &:last-child{
                @include media-breakpoint-down(lg){
                    padding-right: 0;
                }
                label{
                    right: 13px;
                    @include media-breakpoint-down(lg){
                        right: 1px;
                    }
                }
            }

                label{
                    position: absolute;
                    width: 40px;
                    height: 38px;
                    background-color: $primary;
                    top: 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius:0px 10px 10px 0px;

                    i{
                        color:rgba($dark,0.25);
                    }
                }
                input[type="date"]{
                    &::-webkit-calendar-picker-indicator{
                        opacity: 0;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        z-index: 5;
                    }
                }
                input[type="time"]{
                    &::-webkit-calendar-picker-indicator{
                        opacity: 0;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        z-index: 5;
                    }
                }


        }
    }
}

.destination-picker{

    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        padding: 16px 24px;
        // overflow: hidden;
        .radio-wrp{
            input[type="radio"]{
                opacity: 0;
                position: relative;
                z-index: 1;
            }
            input[type="radio"]:checked ~ label{
                box-shadow: 0 0 16px 0 rgba($dark,  0.45);
                transition: 0.25s;
                background-color: $dark;
                span{
                    color: $white;
                    font-weight: 600;
                }
                &:after{
                    content: '\F26E';
                    color: $white;
                    font-family: $bootstrapIcons;
                    position: absolute;
                    font-size: 36px;
                    top: -1px;
                    left: 15px;
                }
                &:before{
                    border: 2px solid $accent;
                    background-color: $accent;

                }

            }
            label{
                display: flex;
                align-items: center;
                &:before{
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    content: '';
                    border-radius: 11px;
                    background-color: rgba($grey-light, 0.5);
                    border: 2px solid $grey-light;
                    left: 20px;
                    // top: 9px;
                }
                box-shadow: 0 0 16px 0 rgba($dark,  0);
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 0.375rem;
                // background-color: rgba($grey-light, 0.5);
                // border: 2px solid $grey-light;
                left: 0px;
                top: 0px;
                cursor: pointer;
                span{
                    margin-left: 50px;
                    position: absolute;
                    top: 15px;
                }
            }
        }

    }
    .hours-input-input-wrp{
        div{
            span{
                margin-bottom: 4px;
                >span{
                    font-size: 13px;
                    opacity: 0.75;
                }
            }
            select{
                height: 40px;
                padding: 4px 4px 4px 16px;
                font-size: 16px;
                border: 1px solid $grey-light;
                border-radius: 6px;
                margin-top: 4px;
                &:focus,
                &:focus-visible{
                    outline: 0;
                }

            }
        }
    }
}

.destination-addresses{
    &.flight-airline-info-wrp{
        .input-wrp{
            box-shadow: unset;
            input.airline-input,
            input.flight-input{
                box-shadow: 0 4px 16px 0 rgb($dark, 0.25);
                border-radius: 10px;
            }
        }
    }
    .input-wrp{
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 8px;
        margin-top: 16px;
        box-shadow: 0 4px 16px 0 rgb($dark, 0.25);
        border-radius: 10px;
        @include media-breakpoint-down(sm){
            flex-wrap: wrap;

        }
        span,
        input{
            height: 42px;
            border: 1px solid rgba($grey-light, 1);
        }
        .btn-remove-destination,
        .btn-add-destination{
            position: absolute;
            height: 34px;
            right: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            font-size: 14px;
            span{
                height: auto;
                border: 0;
                margin-right: 3px;
            }
            @include media-breakpoint-down(sm){
                padding-left: 8px ;
                padding-right:  8px;
                bottom: 4px;
            }
            i{
                font-size: 24px;
            }

        }
        .btn-add-destination{
            border: 1px solid $grey-light;
            color: $accent;
            background-color: rgba($grey-light,0.25);
        }
        .btn-remove-destination{
            width: 34px;
            height: 34px;
            font-size: 20px;

        }
        input.airline-input,
        input.flight-input,
        input.destination-input{
            padding: 4px 90px 6px 20px;
            border-radius: 0 10px 10px 0;
            @include media-breakpoint-down(sm){
                border-radius: 0px 0px 10px 10px;

            }
            &:focus,
            &:focus-visible{
                outline: 0;
            }
        }
        span.inputlabel{
            border-radius: 10px 0px 0px 10px;
            padding: 4px;
            display: flex;
            background-color: $white;
            align-items: center;
            justify-content: flex-start;
            margin-right: -1px;
            width: 120px;
            padding-left: 24px;
            @include media-breakpoint-down(sm){
                height: auto;
                background-color:rgba( $white, 0.15);
                flex-grow: 1;
                border-radius: 10px 10px 0 0;
                margin-bottom: -1px;
                margin-right: 0;
            }
        }
    }

}

.total-wrapper{
    // margin-top: 40px;
    padding: 16px;
    background-color: $accent;
    border-radius: 0 0 40px 40px;
    >.row{
        justify-content: space-between;
    }
    .price-breakdown, .bi{
        display: none;
    }
    .card-info{
        display: none;
    }
    &.att-bottm{
        // border-radius: 0;
        // width: calc(100% - 16px);
        // bottom: 8px;
        // left: 8px;
        // padding: 10px 16px;
        // border-radius: 8px;
        
        .total-amount{
            display: flex;
            align-items: center;
            position: relative;
            .price-breakdown, .bi{
                display: block;
            }
            .bi{
                width: 20px;
                height: 20px;
                font-size: 20px;
                margin-bottom:8px;
                opacity: 0.75;
            }
            .bi:hover {
                opacity: 0.95;
                & ~ .price-breakdown{
                    z-index: 10;
                    bottom: 60px;
                    // height:230px;
                    opacity: 1;
                    display: block;
                }
                
            }
            .price-breakdown{
                display: none;
                position: absolute;
                border-radius: 8px;
                width: 300px;
                background-color: $accent-dark;
                bottom: 60px;
                // height: 0;
                z-index: -1;
                left: 50%;
                transform: translateX(-50%);
                padding-bottom: 20px;
                opacity: 0;
                z-index: -9999;
                transition: 0.3s;
                display: none;
                .title{
                    font-size: 24px;
                    opacity: 0.75;
                    margin-bottom: 12px;
                    margin-top: 12px;
                }
                .content-block{
                    .text-wrapper{
                        padding: 2px 16px ;
                        &.total{
                            margin-top: 8px;
                            background-color: rgba($black, 0.25);
                            padding: 8px 16px;

                        }
                        p{
                            margin-bottom: 0;
                            font-size: 15px;
                            &.heading{
                                font-weight: 600;
                                opacity: 0.75;
                            }
                            &.heading{
                                font-weight: 600;
                            }

                        }

                    }
                }
            }
        }
        .price{
            margin-right: 16px;
        }
        >.row{
            justify-content: center;
        }
        .card-info{
            display: block;
        }
    }
    .btn-next{
        height: 40px;
        background-color: $primary;
        border: 0;
        outline: 0;
        box-shadow: unset;
        color: rgba($accent-dark  ,1);
        &:active,
        &:focus{
            background-color:$accent-dark;
            color: rgba($white,0.5);
        }
        &.verify-btn{
            position: relative;
            &:focus{
                background-color:$accent-dark;
                color: $accent-dark;
                &:after{
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    content:'Processing...';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: rgba($white,0.5);
                }
            }


        }
    }
    .total-amount{
        color: $white;
        h2{
            opacity: 0.5;
        }
        span{
            opacity: 0.35;
        }
    }

}
.tool-tip-block{
    &.time-picker{
       > i.bi{
            @include media-breakpoint-down(lg){
                margin-bottom: 16px;
            }
        }
    }
    .title{
    }
    i.bi{
        margin-left: 8px;
        font-size: 20px;
        &:hover ~ span.message{
            visibility: visible;
            opacity: 1;
            z-index: 99999999;
            transition: 0.1s;
        }
    }
    span.message{
        transition: 0.1s;
        color: rgba($white, 0.75);
        padding: 12px 12px 16px;
        background-color:$accent-dark;
        border-radius: 8px;
        position: absolute;
        top: 32px;
        left: 0px;
        box-shadow: 0 0 32px 0 rgba($black, 0.5);
        visibility: hidden;
        opacity: 0;
        z-index: -100;

        .title{
            h3{
                font-size: 18px;
            }
            padding-left: 0.65rem;
        }
        .data-block{
            p{
                font-size: 14.5px;
                margin-bottom: 0;
            }
            .list-wrp{
                margin-bottom: 0;
                li{
                    margin-bottom: 6px;
                    font-size: 16px;
                    font-weight:400;
                }
            }
        }
    }
    position: relative;
    display: flex;
    align-items: center;
}

